<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Editar Persona</title>
    <meta charset="UTF-8" />
</head>

<body>
    <section th:fragment="agregarPersona">
        <form th:action="@{/agregar}" th:object="${personaDataForm}" method="POST" class="was-validated">
            </div>
            <div id="details">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Editar</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="nombre">[[#{persona.nombre}]]</label>
                                        <input type="text" class="form-control" name="nombre" required="true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="apellido">[[#{persona.apellido}]]</label>
                                        <input type="text" class="form-control" name="apellido" required="true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">[[#{persona.email}]]</label>
                                        <input type="email" class="form-control" name="email" required="true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="telefono">[[#{persona.telefono}]]</label>
                                        <input type="text" class="form-control" name="telefono" required="true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="sueldo">Sueldo</label>
                                        <input type="number" class="form-control" name="sueldo" required="true"
                                            step="any" />
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">Nombre de Usuario</label>
                                        <input type="text" class="form-control" name="username" required="true"
                                            step="any" />
                                    </div>

                                    <div class="form-group">
                                        <label for="pass">Contraseña</label>
                                        <input type="password" class="form-control" name="password" required="true"
                                            step="any" />
                                    </div>
                                    <div class="form-group">
                                        <label for="rol">Rol</label>
                                        <select name="nameRol">
                                            <option value="ROLE_USER">ROLE_USER</option>
                                            <option value="ROLE_GUEST">ROLE_GUEST</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="for-group">
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-success btn-block">
                                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </section>
</body>

</html>