<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <!-- Agregando Boostrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <head th:replace="index :: headIndex"></head>
<section th:replace="index :: barraLateral"> </section>

<section class="home-section">

  <div class="home-content">
    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="title">Vista de Trabajadores</div>
        <div class="sales-details" th:if="${personas != null and !personas.empty}">
          <ul class="details">
            <li class="topic">ID</li>
            <li th:each="persona : ${personas}" th:text="${persona.idPersona}"> </li>

          </ul>
          <ul class="details">
            <li class="topic">Nombre:</li>
            <li th:each="persona : ${personas}" th:text="${persona.nombre} + ' ' + ${persona.apellido}">
            </li>

          </ul>
          <ul class="details">
            <li class="topic">Telefono</li>
            <li th:each="persona : ${personas}" th:text="${persona.telefono}"> </li>

          </ul>
          <ul class="details">
            <li class="topic">Sueldo</li>
            <li th:each="persona : ${personas}" th:text="${persona.sueldo}">
            </li>

          </ul>
          <ul class="details">
            <li class="topic">editar</li>
            <li th:each="persona : ${personas}">
              <a sec:authorize="hasRole('ROLE_ADMIN')"
              th:href="@{editar/persona/} + ${persona.idPersona}">
              Editar
            </a>
            </li>

          </ul>
        </div>
        <div class="button">
          <a href="#">See All</a>
        </div>
      </div>

      <!--Caja 2-->
      <div class="top-sales box">
        <div class="title">Top Seling Product</div>
        <ul class="top-sales-details">
          <li>
            <a href="#">
              <img src="images/sunglasses.jpg" alt="">
              <span class="product">Vuitton Sunglasses</span>
            </a>
            <span class="price">$1107</span>
          </li>
          <li>
            <a href="#">
              <img src="images/jeans.jpg" alt="">
              <span class="product">Hourglass Jeans </span>
            </a>
            <span class="price">$1567</span>
          </li>
          <li>
            <a href="#">
              <img src="images/nike.jpg" alt="">
              <span class="product">Nike Sport Shoe</span>
            </a>
            <span class="price">$1234</span>
          </li>
          <li>
            <a href="#">
              <img src="images/scarves.jpg" alt="">
              <span class="product">Hermes Silk Scarves.</span>
            </a>
            <span class="price">$2312</span>
          </li>
          <li>
            <a href="#">
              <img src="images/blueBag.jpg" alt="">
              <span class="product">Succi Ladies Bag</span>
            </a>
            <span class="price">$1456</span>
          </li>
          <li>
            <a href="#">
              <img src="images/bag.jpg" alt="">
              <span class="product">Gucci Womens's Bags</span>
            </a>
            <span class="price">$2345</span>
          <li>
            <a href="#">
              <img src="images/addidas.jpg" alt="">
              <span class="product">Addidas Running Shoe</span>
            </a>
            <span class="price">$2345</span>
          </li>
          <li>
            <a href="#">
              <img src="images/shirt.jpg" alt="">
              <span class="product">Bilack Wear's Shirt</span>
            </a>
            <span class="price">$1245</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

</html>